<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<section class="productos">
    <h2>Mi carrito</h2>
    <% @cart.line_items.each do |item| %>
      <article class="producto">
        <%= image_tag(item.product.image_url) %>
        <h3><%= item.quantity %> x <%= item.product.title %></h3>
        <p><%= item.product.description %></p>
        <span><%= number_to_currency(item.total_price) %></span>
      </article>
    <% end %>
    <h3 class="total">Total:</h3>
    <span><%= number_to_currency(@cart.total_price) %></span>
    <%= button_to "Limpiar carrito", @cart, method: :delete, data: { confirm: "Estas seguro?" } %>
</section>